@font-face {
    font-family: "Connection";
    src: url("../../assets/font/Connection.ttf") format("truetype");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

div.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.container div#game {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
